<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs')%>
<body>
<%- include('./partials/nav.ejs')%>
<script src="" async defer></script>
</body>
<h1>Medium link Bypasser</h1>
<p class='home-p'>Works best on Chromimum based browsers</p>
<p class='home-p'>Make sure your Ad blockers are turned off</p>
<h2>official status: WORKING</h2>
<div class='home-div'>Put the link you want bypassed inside the textbox. Then press the submit button</div>
<p>please wait around 10-30 seconds for you link to be bypassed</p>
<br>
<form action="">
    <label for="link">Input link here</label><br>
    <input type="text" id="link" name="link" value="Waiting..."><br>
    <input type="submit" value="Submit">
</form>
<%- include('./partials/footer.ejs')%>
</html>